<button type="button" class="btn btn-primary" (click)="addRow()">Add Row</button>

<form [formGroup]="group">
  <ng-container formArrayName="rows">
    <div *ngFor="let row of rows.controls; index as index; last as isLast" class="row mt-3 mb-3">
      <app-input-row class="col-11" [formControlName]="index"></app-input-row>
      <div class="col-1">
        <button *ngIf="isLast" type="button" class="btn btn-success ml-1 mr-1" (click)="addRow()">+</button>
        <button *ngIf="rows.controls.length > 1" type="button" class="btn btn-danger ml-1 mr-1" (click)="removeRow(index)">-
        </button>
      </div>
    </div>
  </ng-container>
</form>

<pre class="mt-4"><code>{{group.value | json}}</code></pre>
