<div class="form-row" [formGroup]="group">

  <!-- FIELD 1 -->
  <div class="col-5">
    <input type="text" class="form-control" placeholder="Field 1" formControlName="field1">
  </div>

  <!-- GROUP 2 -->
  <ng-container formGroupName="field2">

    <!-- FIELD 2A -->
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Field 2A" formControlName="field2A"
             [class.is-invalid]="showInvalid(field2A)" (blur)="onField2Blur()" (focus)="onField2Focus()">
      <app-validation-message *ngIf="showInvalid(field2A)" [control]="field2A"></app-validation-message>
      <app-input-spinner *ngIf="isField2Loading"></app-input-spinner>
    </div>

    <!-- FIELD 2B -->
    <div class="col-2">
      <input type="text" class="form-control" placeholder="Field 2B" formControlName="field2B"
             [class.is-invalid]="showInvalid(field2B)" (blur)="onField2Blur()" (focus)="onField2Focus()">
      <app-validation-message *ngIf="showInvalid(field2B)" [control]="field2B"></app-validation-message>
      <app-input-spinner *ngIf="isField2Loading"></app-input-spinner>
    </div>

  </ng-container>

  <!-- FIELD 3 -->
  <div class="col-2">
    <input type="text" class="form-control" placeholder="Field 3" formControlName="field3"
           (blur)="onField3Blur()" (focus)="onField3Focus()">
    <app-input-spinner *ngIf="isField3Loading"></app-input-spinner>
  </div>

</div>
