/* You can add global styles to this file, and also import other style files */

.us-spinner-container {
  top: 3px;
  left: 0;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ababab;
  margin-top: 3rem;
}
